<div *ngIf="!simpleMode" class="row">
	<div class="col-12">
		<h1 class="page-title" tabindex="-1">Create your account</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<form hcForm [formGroup]="signupForm" class="form" (hcValidSubmit)="signUp()" [loadQueryParams]="true">
			<div *ngIf="displayHeader">
				<p>Create your free account to access Hillsdale College online courses and track your learning progress.</p>
				<p class="small"><span class="req-asterisk">*</span>All Fields Required</p>
			</div>
			<div class="form-row">
				<div class="form-group required" [ngClass]="simpleMode ? 'col-12' : 'col-lg-2'" hc-form-field fieldType="select" [selectValues]="titleList"
					 fieldName="Title" elemId="title" autoComplete="honorific-prefix" [requiredHtml]="null">
				</div>
				<div class="form-group required" [ngClass]="simpleMode ? 'col-12' : 'col-lg-4'" hc-form-field
					 fieldName="First Name" elemId="firstname" autoComplete="given-name" [requiredHtml]="null">
				</div>
				<div class="form-group required" [ngClass]="simpleMode ? 'col-12' : 'col-lg-6'" hc-form-field
					 fieldName="Last Name" elemId="lastname" autoComplete="family-name" [requiredHtml]="null">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required force-lowercase" [ngClass]="simpleMode ? 'col-12' : 'col-lg-6'" hc-form-field fieldType="email"
					 fieldName="Email" elemId="email" [form]="signupForm" autoComplete="email" [requiredHtml]="null">
				</div>
				<div class="form-group required" [ngClass]="simpleMode ? 'col-12' : 'col-lg-6'">
					<label for="password">Password</label>
					<div class="input-group password-create-field">
						<input id="password" name="password" class="form-control inspectletIgnore" [type]="hide ? 'password' : 'text'" formControlName="password" required>
						<app-password-validate-list [passwordInput]="signupForm.get('password')"></app-password-validate-list>
						<div class="input-group-append">
							<button type="button" class="btn btn-light" (click)="hide = !hide">
								<span class="sr-only">{{hide ? 'Show' : 'Hide'}} Password</span>
								<fa-icon class="visibility-icon" [icon]="hide ? faEyeSlash : faEye"></fa-icon>
							</button>
						</div>
					</div>
					<hc-form-error [elemHandle]="signupForm.get('password')" fieldName="Password"></hc-form-error>
				</div>
			</div>
			<div *ngIf="_includeSubjectPreference" class="form-row">
				<div class="form-group required col-12" hc-form-field fieldType="select" [selectValues]="subjectList"
					 selectTextField="title" selectValueField="codename"
					 fieldName="Primary Subject of Interest" elemId="subjectPreference">
				</div>
			</div>
			<p *ngIf="!displayHeader" class="small"><span class="req-asterisk">*</span>All Fields Required</p>

			<div *ngIf='!putTermsAndConditionsBeneathSubmitButton ' class="form-row">
				<p class="col terms-info">By creating your free Hillsdale account, you agree to the <a routerLink="/policies">Terms and Conditions and Privacy Policy.</a></p>
			</div>

			<div class="form-row">
				<div class="col-12 text-center">
					<div class="btn-group my-3 mb-0">
						<button class="btn btn-primary mb-0" type="submit">{{submitText}}</button>
					</div>
				</div>
			</div>

			<div *ngIf='putTermsAndConditionsBeneathSubmitButton ' class="form-row">
				<p class="col terms-info">By creating your free Hillsdale account, you agree to the <a routerLink="/policies">Terms and Conditions and Privacy Policy.</a></p>
			</div>
		</form>
	</div>
</div>

<div class="row" *ngIf="displaySignInLink">
	<div [ngClass]="simpleMode ? 'col-lg-12' : 'col-lg-8 offset-lg-2'">
		<p class="mt-5 mb-0 text-center">Already have an account? <a routerLink="/auth/signin" (click)="handleSignin()">Sign In</a></p><br />
	</div>
</div>
