<div class="row">
	<div class="col-12">
		<h1 class="page-title" tabindex="-1">Change your password</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<p class="text-center text-danger" [innerHtml]="disabledMessage"></p>
		<ng-container *ngIf="!changeCompleted; else changeSuccessful">
		<form hcForm [formGroup]="changePassForm" class="form" (hcValidSubmit)="changePassword()">
			<div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="cur-password">Current Password<span class="req-asterisk">*</span></label>
					<div class="input-group">
						<input id="cur-password" name="password" class="form-control inspectletIgnore" [type]="hidePasswords ? 'password' : 'text'" formControlName="oldPassword" required>
						<div class="input-group-append">
							<button type="button" tabindex="-1" class="btn btn-light" (click)="hidePasswords = !hidePasswords">
								<span class="sr-only">{{hidePasswords ? 'Show' : 'Hide'}} Password</span>
								<fa-icon class="visibility-icon" [icon]="hidePasswords ? faEyeSlash : faEye"></fa-icon>
							</button>
						</div>
					</div>
					<hc-form-error [elemHandle]="changePassForm.get('oldPassword')" fieldName="Current Password"></hc-form-error>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="password">New Password<span class="req-asterisk">*</span></label>
					<div class="input-group password-create-field">
						<input id="password" name="password" class="form-control inspectletIgnore" [type]="hidePasswords ? 'password' : 'text'" formControlName="newPassword" autocomplete="new-password" required>
						<app-password-validate-list [passwordInput]="changePassForm.get('newPassword')"></app-password-validate-list>
						<div class="input-group-append">
							<button type="button" tabindex="-1" class="btn btn-light" (click)="hidePasswords = !hidePasswords">
								<span class="sr-only">{{hidePasswords ? 'Show' : 'Hide'}} Password</span>
								<fa-icon class="visibility-icon" [icon]="hidePasswords ? faEyeSlash : faEye"></fa-icon>
							</button>
						</div>
					</div>
					<hc-form-error [elemHandle]="changePassForm.get('newPassword')" fieldName="New Password" [squashErrors]="true"></hc-form-error>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 offset-md-3">
					<span class="req-asterisk">* Required fields</span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 offset-md-3 text-center">
					<div class="btn-group my-3">
						<button class="btn btn-primary" type="submit">Change Password</button>
					</div>
				</div>
			</div>
		</form>
		</ng-container>
		<ng-template #changeSuccessful>
			<h2 class="text-center">Your password has been changed.</h2>
		</ng-template>
	</div>

</div>
