<div class="row">
	<div class="col">
		<div [ngStyle]="{'display': mediaMode === 'video' ? 'block' : 'none'}">
			<hc-video-player #qaVideo class="qa-video" [attr.player-type-preference]='playerPreference'></hc-video-player>
		</div>
		<div [ngStyle]="{'display': mediaMode === 'audio' ? 'block' : 'none'}">
			<app-audio-player #audioPlayer *ngIf="hasInitAudio && currentVideo" [audioStartPosition]="videoStartPosition"
								[contentItem]="currentVideo" [courseId]="courseId"
								[trackProgress]="true" [multimedia]="requestedVideo">
			</app-audio-player>
		</div>
		<div *ngIf="currentVideo">

			<div class="video-toggle">
				<div class="slide-toggle-switch">
					<button (click)="mediaMode = 'video'"><span class="sr-only">Switch to video</span><fa-icon [icon]="faVideo" [fixedWidth]="true"></fa-icon></button>
					<span class="toggle-switch" [ngClass]="{'on': mediaMode === 'video', 'off': mediaMode === 'audio'}" (click)="mediaMode === 'video' ? mediaMode = 'audio' : mediaMode = 'video'" ></span>
					<button (click)="mediaMode = 'audio'"><span class="sr-only">Switch to audio</span><fa-icon [icon]="faHeadphones" [fixedWidth]="true"></fa-icon></button>
				</div>
			</div>
			<div *ngIf="currentVideo?.overview" [innerHtml]="currentVideo?.overview"></div>
		</div>
	</div>
	<div class="col-12 col-lg-auto col-playlist">
		<div id="supp-vid-playlist" *ngIf="suppVids">
			<button class="btn btn-outline-primary supp-vid" *ngFor="let vid of suppVids" (click)="selectVideo(vid)" [ngClass]="{'active': vid?.system_id === currentVideo?.system_id}">
				<span [innerHTML]="vid?.title | hcSimpleMd"></span>
				<div class="metadata">
					<span class="duration">{{vid.multimedia?.duration | duration}}</span>
				</div>
			</button>
		</div>
	</div>
</div>
