<header #header id="header" tabindex="-1">
	<div class="skip-link">
		<a (click)="skipLink()" href onclick="return false;" class="btn btn-secondary btn-skip"><span>Skip to main content</span></a>
	</div>

	<app-donation-banner></app-donation-banner>

	<!-- <div class="site-notification-banner show">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="site-notification-content row align-items-center">
						<div class="col-md">
							<p>We are having technical issues that may impact the display of your course records and progress. We apologize for the inconvenience and are working now to resolve the issue.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

		<nav id="site-nav" *ngIf="headerStatus$ | async as headerStatus" class="navbar navbar-dark navbar-custom-theme justify-content-start align-items-stretch" [ngClass]="{'hidden-navbar': headerStatus.hide}" aria-label="Site Navigation">
				<div id="logo-wrapper" class="nav-section">
					<button #sidebarCollapse type="button" id="sidebarCollapse" class="navbar-toggler" aria-label="Toggle primary navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<a class="navbar-brand" routerLink="/">
						<img class="logo logo-white" src="assets/hillsdale-college-logo-white.svg" alt="Hillsdale College">
					</a>
				</div>

				<div id="header-nav-wrapper" class="nav-section ml-auto" aria-expanded="false" role="navigation" >
					<div #primaryNav id="primary-nav" (swipeleft)="closePrimaryNav($event)">
						<ul class="nav-root">
							<li class="nav-item">
								<a class="nav-link nav-level-1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-level-1" routerLink="/course-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Courses</a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-level-1" routerLink="/dvd-catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DVDs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-level-1" href="https://shop.hillsdale.edu/collections/online-courses" target="_blank" rel="noopener noreferrer">Books</a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-level-1" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
							</li>
							<li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
								<a class="nav-link nav-level-1 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">Help</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link dropdown-item nav-level-2" routerLink="/help/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ</a>
									</li>
									<li class="nav-item">
										<a class="nav-link dropdown-item nav-level-2" routerLink="/help/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
									</li>
								</ul>
							</li>
							<ng-template [ngIf]="user$ | async" let-user [ngIfElse]="loggedOut">
								<li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
									<a class="nav-link nav-level-1 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
										<ng-container *ngIf="user.firstname; else noNames">
											{{user.firstname}} {{user.lastname}}
										</ng-container>
										<ng-template #noNames>
											{{user.email}}
										</ng-template>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link dropdown-item nav-level-2" routerLink="/auth/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Courses</a>
										</li>
										<li class="nav-item">
											<a class="nav-link dropdown-item nav-level-2" routerLink="/auth/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Account Info</a>
										</li>
										<li class="nav-item">
											<a class="nav-link dropdown-item nav-level-2" routerLink="/auth/preferences" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Preferences</a>
										</li>
										<li class="nav-item"> <!--TODO hide this if social sign-in-->
											<a class="nav-link dropdown-item nav-level-2" routerLink="/auth/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Change Password</a>
										</li>
										<li class="dropdown-divider"></li>
										<li class="nav-item">
											<a class="nav-link dropdown-item nav-level-2" href="javascript:void(0);" (click)="logOut()">Sign Out</a>
										</li>
									</ul>
								</li>
							</ng-template>
							<ng-template #loggedOut>
								<li class="nav-item">
									<a class="nav-link nav-level-1" routerLink="/auth/signin" routerLinkActive="active">Sign In</a>
								</li>
							</ng-template>
							<li class="nav-item nav-item-highlighted" *ngIf="currentCourse$ | async as courseStatus">
								<a class="nav-link nav-level-1" [href]="courseStatus.donationUrl" target="_blank" (click)="donateClicked(courseStatus.donationUrl)">Donate</a>
							</li>
						</ul>
					</div>
				</div>
		</nav>
</header>

<router-outlet #main id="main" tabindex="-1"></router-outlet>

<footer *ngIf="sidebarStatus$ | async as sidebarStatus" class="bg-highlight-primary" [ngClass]="{'has-sidebar': sidebarStatus.hasSidebar, 'sidebar-open': sidebarStatus.hasSidebar && sidebarStatus.isOpen, 'hidden-navbar': sidebarStatus.headerHidden}">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<a routerLink="/">
					<img class="logo logo-blue" src="assets/hillsdale-college-logo-white.svg" alt="Hillsdale College">
				</a>
				<p>33 E. College St. Hillsdale, MI 49242 | Phone:&nbsp;<a href="tel:5176072738">(517) 607-2738</a> | <a href="https://www.hillsdale.edu/privacy-policy/" target="_blank">Privacy Policy</a></p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<ul class="social-nav text-center">
					<li>
						<a href="https://www.facebook.com/HillsdaleOnline" target="_blank" title="Follow Us On Facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>
					</li>
					<li>
						<a href="https://twitter.com/HillsdaleOnline" target="_blank" title="Follow Us On Twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
					</li>
					<li>
						<a href="https://www.youtube.com/@HillsdaleOnline" target="_blank" title="Follow Us On YouTube"><fa-icon [icon]="faYoutube"></fa-icon></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="text-center m-0">&copy; {{currentYear}} Hillsdale College</p>
			</div>
		</div>
	</div>
</footer>
<!--ngx-spinner></ngx-spinner-->
<ngx-ui-loader fgsColor="#0070b9" pbColor="#0070b9" overlayColor="#ffffff88"></ngx-ui-loader>

<!--TODO replace with Angular call-->
<div class="modal fade" id="readingModal" tabindex="-1" role="dialog" aria-labelledby="readingModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="readingModalLabel">New message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="iframe-container" style="padding-bottom: 90%; padding-top: 30px; height: 0; overflow: hidden;">
					<iframe class="optanon-category-C0001" data-ot-ignore="true" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="screen-overlay"></div>

<app-donation-bottom-bar></app-donation-bottom-bar>
<span style="display:none;"></span>
