<div class="row">
	<div class="col-12">
		<h1 class="page-title" tabindex="-1">Forgot Password</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<form hcForm *ngIf="!showResetPanel; else resetPanel" [formGroup]="requestResetForm" class="form" (hcValidSubmit)="requestReset()">
			<p>Please enter your email address, and we’ll send you a link to reset your password.</p>
			<p class="small">If you already have these instructions, <a href="javascript:void(0)" (click)="showConfirmForm()">click here<span class="sr-only"> to enter confirm code</span></a>.</p>
			<p class="small"><span class="req-asterisk">*</span>Required.</p>
			<div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="email">Email<span class="req-asterisk">*</span></label>
					<input id="email" name="email" class="form-control" type="email" formControlName="email" autocomplete="email" autocorrect="off" autocapitalize="none" required>
					<hc-form-error [elemHandle]="requestResetForm.get('email')" fieldName="Email"></hc-form-error>
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-6 offset-lg-3 text-center">
					<div class="btn-group my-3">
						<button class="btn btn-primary" type="submit" [disabled]="!requestResetForm.valid">Request Reset</button>
					</div>
				</div>
			</div>
		</form>
		<ng-template #resetPanel>
			<form [formGroup]="resetForm" class="form" (ngSubmit)="resetPassword()">
			<p *ngIf="requestResetForm.get('email').value">You entered <strong>{{requestResetForm.get('email').value}}</strong>. If this is a valid email address, you will receive an email with a link. Please open the email and click on the link to reset your password.</p>
			<p class="small">If you do not receive an email, <a href="javascript:void(0)" (click)="showRequestForm()">click here<span class="sr-only"> to request a new confirm code</span></a>.</p>
			<p class="small"><span class="req-asterisk">*</span>Required.</p>
			<div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="resetEmail">Email<span class="req-asterisk">*</span></label>
					<input id="resetEmail" name="email" class="form-control" type="email" formControlName="email" autocomplete="email" autocorrect="off" autocapitalize="none" required>
					<hc-form-error [elemHandle]="resetForm.get('email')" fieldName="Email"></hc-form-error>
				</div>
			</div>
			 <div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="resetCode">6-Digit Confirmation Code<span class="req-asterisk">*</span></label>
					<input id="resetCode" name="code" class="form-control" type="text" formControlName="confirmCode" required>
					<hc-form-error [elemHandle]="resetForm.get('confirmCode')" fieldName="6-Digit Confirmation Code"></hc-form-error>
				</div>
			 </div>
			<div class="form-row">
				<div class="form-group required col-lg-6 offset-lg-3">
					<label for="password">New Password<span class="req-asterisk">*</span></label>
					<div class="input-group password-create-field">
						<input id="password" name="password" class="form-control inspectletIgnore" [type]="hide ? 'password' : 'text'" formControlName="newPassword" autocomplete="new-password" required>
						<app-password-validate-list [passwordInput]="resetForm.get('newPassword')"></app-password-validate-list>
						<div class="input-group-append">
							<button type="button" class="btn btn-light" (click)="hide = !hide">
								<span class="sr-only">{{hide ? 'Show' : 'Hide'}} Password</span>
								<fa-icon class="visibility-icon" [icon]="hide ? faEyeSlash : faEye"></fa-icon>
							</button>
						</div>
					</div>
					<hc-form-error [elemHandle]="resetForm.get('newPassword')" fieldName="New Password" [squashErrors]="true"></hc-form-error>
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-6 offset-lg-3 text-center">
					<div class="btn-group my-3">
						<button class="btn btn-primary" type="submit">Reset Password</button>
					</div>
				</div>
			</div>
			</form>
		</ng-template>
	</div>
</div>
